[submodule "third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/glfw/glfw
[submodule "third-party/Chipmunk2D"]
	path = third-party/Chipmunk2D
	url = https://github.com/slembcke/Chipmunk2D
